a
{
color: inherit;
}
#outer
{
    
    position: relative;
    width: 300px;
    height: 300px;
   
    border: 0px solid black;
    transition: all 0.5s;
    
}
.aa
{
    position: absolute;
    background: #03A9F4;
    height: 100px;
    width: 100%;
    margin-top: 200px;
    transition: all 0.5s;
}
#outer:hover > .aa
{
    height: 100%;
      margin-top: 0px;
    opacity: 0.7;
    background: black;
}
.top
{
position: absolute;
    transition: all 0.5s ease-in-out;
   
    
}

#outer:hover > .top
{
  
}

.n1
{
    position: absolute;
    margin-top: 235px;
    margin-left: 10px;
    color: black;
    opacity:1;
    transition: all 0.5s ease-in-out;
    
}
.fa-cog {
  color: white;
}
.n2
{
    position: absolute;
    margin-left: 10px;
    margin-top:260px;
    color: black;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    
}
#outer:hover  .n1
{
  color: white;
   margin-top: 100px;
}

#outer:hover  .n2
{
    color: white;
margin-top: 130px;
}

.l1
{position: absolute;
    margin-top: 150px;
    margin-left: 190px;
    transition: all 0.5s ease-in-out;
    opacity: 1;  
}
.l2
{
     margin-top:150px;
    position: absolute;
margin-left: 245px;
    transition: all 0.5s ease-in-out;
opacity: 1;
    transition-delay: 0.1s;
}

#outer:hover .l1
{
margin-top:240px;
    color: white;
}

#outer:hover .l2
{
margin-top:240px;
    color: white;
}


